# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
myenv/

# IDEs
.vscode/
.idea/

# Project specific
*.log

# PyInstaller
dist/
build/
*.msix
*.appx


app_icon.ico

# Personal Store Info
AppxManifest.xml
build_app.bat
*.pfx
package_layout/
